name: Check URL Links
on:
  workflow_dispatch:
  schedule:
    - cron: '0 14 * * *'  # 2pm UTC == 9am EST
jobs:
  check_url_links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout STUMPY
        uses: actions/checkout@v4
        with:
          repository: stumpy-dev/stumpy
      - name: Upgrade Pip, Install Minimum Requirements
        run: |
          python -m pip install --upgrade pip pandas lxml packaging
        shell: bash
      - name: Determine Safe Python Version
        id: get_safe_python
        run: |
          echo "safe_python=$(python ./versions.py -mode safe)" >> $GITHUB_OUTPUT
      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ steps.get_safe_python.outputs.safe_python }}
      - name: Display Python Version
        run: python -c "import sys; print(sys.version)"
        shell: bash
      - name: Install PyTest Check links
        run: python -m pip install --upgrade pytest-check-links pytest-rerunfailures
        shell: bash
      - name: Checkout STUMPY
        if: "startsWith(steps.python.outputs.version, env.req-python-version)"
        uses: actions/checkout@v4
        with:
          repository: stumpy-dev/stumpy
      - name: Install STUMPY And Other Dependencies
        run: python -m pip install --editable .[ci]
        shell: bash
      - name: Check URL Links
        run: ./test.sh links
        shell: bash
