name: Numba Release Candidate Check
on:
  workflow_dispatch:
  schedule:
    - cron: '0 14 * * *'  # 2pm UTC == 9am EST
jobs:
  get_safe_python_version:
    runs-on: ubuntu-latest
    outputs:
      latest_python_version: ${{ steps.set-safe.outputs.latest_python_version }}
    steps:
      - name: Checkout STUMPY
        uses: actions/checkout@v4
        with:
          repository: stumpy-dev/stumpy
      - name: Upgrade Pip, Install Minimum Requirements
        run: |
          python -m pip install --upgrade pip pandas lxml packaging
        shell: bash
      - name: Get Latet Python Version
        id: set-safe
        run: |
          echo "safe_python_version=$(python ./versions.py -mode safe)" >> $GITHUB_OUTPUT
        shell: bash
  check_numba_release_candidate:
    needs: get_safe_python_version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout This Repository
        uses: actions/checkout@v4
      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ fromJSON(needs.get_safe_python_version.outputs.safe_python_version) }}
      - name: Display Python Version
        run: python -c "import sys; print(sys.version)"
        shell: bash
      - name: Add Numba Release Candidate to Requirements File
        run: python all_versions.py numba | grep rc | tail -n 1 | awk 'PREPEND="numba == " {print PREPEND $0}'> requirements.txt
        shell: bash
      - name: Add Llvmlite Release Candidate to Requirements File
        run: python all_versions.py llvmlite | grep rc | tail -n 1 | awk 'PREPEND="llvmlite == " {print PREPEND $0}'>> requirements.txt
        shell: bash
      - name: Install Release Candidate Requirements
        run: python -m pip install --upgrade -r requirements.txt
        shell: bash
      - name: Checkout STUMPY
        if: "startsWith(steps.python.outputs.version, env.req-python-version)"
        uses: actions/checkout@v4
        with:
          repository: stumpy-dev/stumpy
      - name: Install STUMPY And Other Dependencies
        run: python -m pip install --editable .[ci]
        shell: bash
      - name: Run Unit Tests
        run: ./test.sh unit
        shell: bash
