name: Numba Release Candidate Check
on:
  workflow_dispatch:
  schedule:
    - cron: '0 14 * * *'  # 2pm UTC == 9am EST
jobs:
  check_numba_release_candidate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ '3.12' }}
      - name: Display Python Version
        run: python -c "import sys; print(sys.version)"
        shell: bash
      - name: Add Numba Release Candidate to Requirements File
        run: python all_versions.py numba | grep rc | tail -n 1 | awk 'PREPEND="numba == " {print PREPEND $0}'> requirements.txt
        shell: bash
      - name: Add Llvmlite Release Candidate to Requirements File
        run: python all_versions.py llvmlite | grep rc | tail -n 1 | awk 'PREPEND="llvmlite == " {print PREPEND $0}'>> requirements.txt
        shell: bash
      - name: Install Release Candidate Requirements
        run: python -m pip install --upgrade -r requirements.txt
        shell: bash
      - name: Checkout STUMPY
        if: "startsWith(steps.python.outputs.version, env.req-python-version)"
        uses: actions/checkout@v4
        with:
          repository: stumpy-dev/stumpy
      - name: Install STUMPY And Other Dependencies
        run: python -m pip install --editable .[ci]
        shell: bash
      - name: Run Unit Tests
        run: ./test.sh unit
        shell: bash
