name: Run STUMPY Tests with Pixi
on:
  workflow_dispatch:
jobs:
  test_with_pixi:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    environment: PIXI_API_ACCESS

    steps:
      - name: Checkout STUMPY
        uses: actions/checkout@v4
        with:
          repository: stumpy-dev/stumpy
    
      - name: Checkout STUMPY
        uses: actions/checkout@v4
        with:
          repository: stumpy-dev/stumpy

      - name: Check token
        run: |
          if [ -z "$TOKEN" ]; then
            echo "ERROR--PREFIX_DEV_TOKEN is empty or not accessible!"
            exit 1
          else
            echo "Token is available (length: ${#TOKEN})"
          fi
        env:
          TOKEN: ${{ secrets.PREFIX_DEV_TOKEN }}
      
      - name: Set Up Pixi
        uses: prefix-dev/setup-pixi@v0.9.4
        with:
          log-level: vvv
          pixi-version: v0.62.2

          cache: false
          auth-host: prefix.dev
          auth-token: ${{ secrets.PREFIX_DEV_TOKEN }}

      - name: Install STUMPY And Other Dependencies
        run: pixi install
        shell: bash
        
      - name: Unit Tests
        run: ./test.sh 
        shell: bash
